<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Задачи к данному курсовому проекту</title>
  </head>
  {% include 'public/header.html' %}
  <body>
    <div class="content">
      <h4>Список задач для работника ГАИ:</h4>
      <ol>
        <li>Вывести список ДТП, в которых поучаствовал <strong>конкретный водитель</strong></li>
        <li>Вывести список ДТП, в которых поучаствовал <strong>конкретный автомобиль</strong></li>
        <li>Вывести статистику совершенных ДТП. Какие автомобили (марка + модель) попадают чаще в ДТП</li>
        <li>Назначить водителю/владельцу <strong>штраф</strong> с указанием <strong>причины</strong><span style="font-size: 9px;">Система отправляет уведомление владельцу</span></li>
        <li>Просмотреть список <strong>нарушений</strong>. Удалить, изменить, добавить.</li>
        <li>Изменить <strong>размер штрафа</strong> за <strong>указанное нарушение</strong> (Нарушение, изменение - выпадающие списки + текстбокс для числа)</li>
        <li>Вывести таблицу <strong>водителей</strong> и/или <strong>владельцев</strong> ТС, которые нарушили ПДД <strong>N</strong> и более раз за этот месяц</li>
        <li>Вывести таблицу <strong>водителей</strong> и/или <strong>владельцев</strong> ТС, которые нарушили ПДД <strong>N</strong> и более раз за <strong>указанный</strong> месяц</li>
        <li>Вывести ФИО пешехода(-ов), который(-е) поучаствовал(-и) в <strong>указанном ДТП</strong>.</li>
        <li>Получить список самых опасных (частота ДТП максимальная) улиц.</li>
        <li>Получить список мест, где чаще всего нарушаются ПДД</li>
        <li>Определить <strong>водителя/владельца</strong> (ввести ФИО). Отправить ему e-mail (или узнать номер телефона) на тематику совершенных нарушения/ПДД.</li>
      </ol>
      <h4>Список задач для водителя и владельца ТС:</h4>
      <ol>
        <li>Узнать, были ли совершены нарушения и/или ПДД на его [указанном] <strong>ТС</strong>. Если да, то вывести список.</li>
        <li>Погасить задолженность за совершенные им и/или его водителем нарушения. <span style="font-size: 9px;">Выполняется после 1-ого пункта.</span></li>
        <li>Просмотреть архив своих оплаченных нарушений. Просмотреть квитанции.</li>
        <li>[Владелец] Обжаловать нарушение, если прошло менее 11 дней. <span style="font-size: 9px;">Выполняется после 1-ого пункта.</span></li>
      </ol>
      <h4>Задачи, которые система выполняет автоматически:</h4>
      <ol>
        <li>Если штраф не уплачен на 16-ый день после совершения, то начислить пеню размером (100% + 10% (от 200% за каждый 3-ий месяц))<br>
        <span style="font-size: 10px;">Пример #1: Штраф был 100 грн. Прошло 20 дней. Штраф стал равен 200 грн.<br>
        Пример #2: Штраф был 100 грн. Прошло 3 месяца. Штраф стал равен 220 грн.<br>
        Пример #3: Штраф был 100 грн. Прошел год. Штраф стал равен 292,82 грн.</span></li>
      </ol>
    </div>
  </body>
</html>
