<!DOCTYPE html>
{% extends "testapp/base.html" %}
  {% block body_block %}
    <h1>Reklama Table!</h1>
    <div >
      {% if reklama %}
          <table class="table table-dark">
            <thead>
              <th scope="col">Reklama Name</th>
              <th scope="col">Rekvesit</th>
              <th scope="col">Mail</th>
            </thead>

            {% for acc in reklama %}
              <tr>
                <td>{{ acc.reklama_name }}</td>
                <td>{{ acc.rekvesit }}</td>
                <td>{{ acc.mail}}</td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
        <p>No Reklama. Table Not Created.</p>
      {% endif %}
    </div>

{% endblock %}
