<!DOCTYPE html>
{% extends "testapp/base.html"%}
  {% block body_block %}
    <h1>Управление должностями</h1>
    <div class="container">
      <h1>Добавить должность</h1>
      <form method="POST">
        {{ AddDolznostForm.as_p }}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' name="add" value="Добавить">
      </form>
    </div>

    <div class="container">
      <h1>Изменить должность</h1>
      <form method="POST">
        {{ ChangeDolznostForm.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="change" value="Изменить">
      </form>

    </div>

    <div class="container">
      <h1>Удалить должность</h1>
      <form method="POST">
        {{ DeleteDolznostForm.as_p }}
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" name="delete" value="Удалить">
      </form>
    </div>

    <div >
      {% if dolznost %}
          <table class="table table-dark">
            <thead>
              <th scope="col">Название должности</th>
              <th scope="col">Оклад сотрудника на этой должности</th>
            </thead>

            {% for acc in dolznost %}
              <tr>
                <td>{{ acc.dolznost_name }}</td>
                <td>{{ acc.oklad }}</td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
      <br>
        <p>Нет ни одного кортежа</p>
      {% endif %}
    </div>
    {% endblock %}
