<!DOCTYPE html>
{% extends "testapp/base.html"%}
  {% block body_block %}
    <h1>Управление рекламами</h1>
    {% if Form.errors %}
    {% for field in Form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in Form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
    <div class="container">
      <h1>Добавить рекламу</h1>
      <form method="POST" >
        {{ Form.as_p }}
        {% csrf_token %}
        <input type="submit" class='btn btn-primary' name="add" value="Добавить">
      </form>
    </div>
    <div >
      {% if data %}
          <table class="table table-dark">
            <thead>
              <th scope="col">ID</th>
              <th scope="col">Рекламодатель</th>
              <th scope="col">Реквезиты</th>
              <th scope="col">Електронная почта</th>
              <th scope="col">Удалить</th>
              <th scope="col">Изменить</th>
            </thead>

            {% for acc in data %}
              <tr>
                <td>{{ acc.id }}</td>
                <td>{{ acc.reklama_name }}</td>
                <td>{{ acc.rekvesit }}</td>
                <td>{{ acc.mail }}</td>
                <td><a href='{% url 'delete_reklama' acc.pk %}' >delete</a></td>
                <td><a href='{% url 'change_reklama' acc.pk %}' >change</a></td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
      <br>
        <p>Нет ни одного кортежа</p>
      {% endif %}
    </div>
    {% endblock %}
